.svg-icon-brand {
  fill: #000000; }

.svg-icon-primary {
  fill: #fafafa; }

.svg-icon-secondary {
  fill: #110909; }

.svg-icon-accent {
  fill: #000000; }

.text-brand {
  color: #000000; }

.text-primary {
  color: #fafafa; }

.text-secondary {
  color: #110909; }

.text-accent {
  color: #000000; }

.title-line {
  position: relative;
  display: flex;
  flex-direction: row; }
  .title-line:after {
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(17, 9, 9, 0.2);
    flex-grow: 1;
    content: ''; }

.subtitle-underline {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid rgba(17, 9, 9, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px; }

.background-primary {
  background-color: #000000; }

.product-description {
  margin-bottom: 70px; }

.element-footer, .contact-item, .social-share, .nube-slider-product, .section-featured-home, .section-social-home, .section-slider, .page-header {
  margin-bottom: 20px; }

.box-title {
  margin-bottom: 10px; }

.head-dark,
.head-brand, .head-light, .category-controls {
  transition: all 0.5s ease; }

.form-select, .form-control, button, .btn, body {
  font-size: 14px; }

body {
  color: #110909;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa; }

.placeholder-container {
  background-color: rgba(17, 9, 9, 0.1); }

.placeholder-color {
  background-color: rgba(17, 9, 9, 0.07); }

.placeholder-icon svg {
  fill: rgba(17, 9, 9, 0.2); }

.placeholder-page {
  background: #110909; }
  .placeholder-page:hover, .placeholder-page.active {
    background: #000000;
    opacity: 0.8; }

.placeholder-shine,
.placeholder-fade {
  background-color: rgba(17, 9, 9, 0.2); }

.placeholder-overlay {
  background-color: rgba(17, 9, 9, 0.3);
  opacity: 0; }
  .placeholder-overlay:hover, .placeholder-overlay:active, .placeholder-overlay:focus {
    opacity: 1; }

.placeholder-info {
  color: #fafafa;
  fill: #fafafa;
  background-color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  .placeholder-info .placeholder-button {
    color: #000000;
    background-color: #fafafa;
    opacity: 1; }
    .placeholder-info .placeholder-button:hover {
      opacity: .8; }

.spinner-square, .spinner-square-invert {
  width: 20px;
  height: 10px;
  position: relative;
  margin: -20px auto 60px auto;
  animation: spinner-square  1s linear alternate infinite; }

.spinner-square-invert {
  animation: spinner-square-invert  1s linear alternate infinite; }

@keyframes spinner-square {
  0% {
    box-shadow: -60px 40px 0 2px rgba(17, 9, 9, 0.2), -30px 40px 0 0 rgba(17, 9, 9, 0.1), 0 40px 0 0 rgba(17, 9, 9, 0.1), 30px 40px 0 0 rgba(17, 9, 9, 0.1), 60px 40px 0 0 rgba(17, 9, 9, 0.1); }
  25% {
    box-shadow: -60px 40px 0 0 rgba(17, 9, 9, 0.1), -30px 40px 0 2px rgba(17, 9, 9, 0.2), 0 40px 0 0 rgba(17, 9, 9, 0.1), 30px 40px 0 0 rgba(17, 9, 9, 0.1), 60px 40px 0 0 rgba(17, 9, 9, 0.1); }
  50% {
    box-shadow: -60px 40px 0 0 rgba(17, 9, 9, 0.1), -30px 40px 0 0 rgba(17, 9, 9, 0.1), 0 40px 0 2px rgba(17, 9, 9, 0.2), 30px 40px 0 0 rgba(17, 9, 9, 0.1), 60px 40px 0 0 rgba(17, 9, 9, 0.1); }
  75% {
    box-shadow: -60px 40px 0 0 rgba(17, 9, 9, 0.1), -30px 40px 0 0 rgba(17, 9, 9, 0.1), 0 40px 0 0 rgba(17, 9, 9, 0.1), 30px 40px 0 2px rgba(17, 9, 9, 0.2), 60px 40px 0 0 rgba(17, 9, 9, 0.1); }
  100% {
    box-shadow: -60px 40px 0 0 rgba(17, 9, 9, 0.1), -30px 40px 0 0 rgba(17, 9, 9, 0.1), 0 40px 0 0 rgba(17, 9, 9, 0.1), 30px 40px 0 0 rgba(17, 9, 9, 0.1), 60px 40px 0 2px rgba(17, 9, 9, 0.2); } }

@keyframes spinner-square-invert {
  0% {
    box-shadow: -60px 40px 0 2px rgba(250, 250, 250, 0.2), -30px 40px 0 0 rgba(250, 250, 250, 0.1), 0 40px 0 0 rgba(250, 250, 250, 0.1), 30px 40px 0 0 rgba(250, 250, 250, 0.1), 60px 40px 0 0 rgba(250, 250, 250, 0.1); }
  25% {
    box-shadow: -60px 40px 0 0 rgba(250, 250, 250, 0.1), -30px 40px 0 2px rgba(250, 250, 250, 0.2), 0 40px 0 0 rgba(250, 250, 250, 0.1), 30px 40px 0 0 rgba(250, 250, 250, 0.1), 60px 40px 0 0 rgba(250, 250, 250, 0.1); }
  50% {
    box-shadow: -60px 40px 0 0 rgba(250, 250, 250, 0.1), -30px 40px 0 0 rgba(250, 250, 250, 0.1), 0 40px 0 2px rgba(250, 250, 250, 0.2), 30px 40px 0 0 rgba(250, 250, 250, 0.1), 60px 40px 0 0 rgba(250, 250, 250, 0.1); }
  75% {
    box-shadow: -60px 40px 0 0 rgba(250, 250, 250, 0.1), -30px 40px 0 0 rgba(250, 250, 250, 0.1), 0 40px 0 0 rgba(250, 250, 250, 0.1), 30px 40px 0 2px rgba(250, 250, 250, 0.2), 60px 40px 0 0 rgba(250, 250, 250, 0.1); }
  100% {
    box-shadow: -60px 40px 0 0 rgba(250, 250, 250, 0.1), -30px 40px 0 0 rgba(250, 250, 250, 0.1), 0 40px 0 0 rgba(250, 250, 250, 0.1), 30px 40px 0 0 rgba(250, 250, 250, 0.1), 60px 40px 0 2px rgba(250, 250, 250, 0.2); } }

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-bottom: 1px solid rgba(17, 9, 9, 0.1); }
  .divider-double {
    border-bottom: 2px solid rgba(17, 9, 9, 0.1); }

.cart-dark .divider {
  border-bottom: 1px solid rgba(250, 250, 250, 0.1); }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Raleway", sans-serif; }

.page-header {
  padding: 45px 0;
  background: rgba(17, 9, 9, 0.03); }
  .page-header h1, .page-header .h1 {
    margin-bottom: 0; }
  .page-header-slim {
    padding: 15px 0;
    background: none; }

.box-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.btn {
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  background: none;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn[disabled], .btn.disabled, .btn[disabled]:hover, .btn.disabled:hover {
    opacity: 0.6;
    cursor: not-allowed;
    outline: 0; }
  .btn-primary {
    padding: 15px 25px;
    background-color: #000000;
    border: 2px solid #000000;
    font-size: 16px;
    font-weight: 700;
    color: #fafafa;
    fill: #fafafa;
    line-height: 18px;
    letter-spacing: 2px; }
    .btn-primary:hover, .btn-primary:focus {
      outline: 0;
      opacity: 0.8; }
  .btn-secondary {
    padding: 10px 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    background-color: #110909;
    color: #fafafa;
    fill: #fafafa;
    line-height: 18px;
    letter-spacing: 1px; }
    .btn-secondary:hover, .btn-secondary:focus {
      outline: 0;
      opacity: 0.8; }
  .btn-line {
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    color: #000000;
    fill: #000000;
    border: 2px solid #000000; }
    .btn-line:hover, .btn-line:focus {
      background-color: #000000;
      color: #fafafa;
      fill: #fafafa; }
    .btn-line.bottom {
      border: none;
      border-bottom: 2px solid #000000; }
  .btn-link {
    padding: 10px 15px;
    color: #000000;
    fill: #000000;
    cursor: pointer; }
    .btn-link:hover, .btn-link:focus {
      outline: 0;
      opacity: 0.8; }
  .btn-brand {
    background-color: #000000;
    color: #fafafa;
    fill: #fafafa; }
    .btn-brand:hover, .btn-brand:focus {
      outline: 0;
      opacity: 0.8; }
    .btn-brand.invert {
      background-color: #d4d4d4;
      color: #000000;
      fill: #000000;
      border-color: #d4d4d4; }
  .btn-background {
    background-color: transparent;
    color: #000000;
    fill: #000000;
    border-color: transparent; }
    .btn-background:hover, .btn-background:focus {
      background-color: #ededed;
      outline: 0;
      opacity: 0.8;
      border-color: #ededed; }
    .btn-background.invert {
      background-color: #eedede;
      color: #000000;
      fill: #000000;
      border-color: #eedede; }
  .btn-foreground {
    background-color: #110909;
    color: #fafafa;
    fill: #fafafa;
    border-color: #110909; }
    .btn-foreground:hover, .btn-foreground:focus {
      outline: 0;
      opacity: 0.8; }
    .btn-foreground.invert {
      background-color: #d4d4d4;
      color: #110909;
      fill: #110909;
      border-color: #d4d4d4; }
  .btn-default {
    background-color: #b97a7a; }
  .btn-small {
    padding: 5px 10px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px; }
  .btn-medium {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px; }
  .btn-large {
    padding: 15px 30px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px; }
  .btn-light {
    font-weight: 300; }
  .btn-bold {
    font-weight: 700; }
  .btn-facebook {
    background-color: #1977f2; }
    .btn-facebook .svg-fb-icon {
      fill: #fff; }
  .btn-hamburger {
    width: 55px;
    height: 48px;
    padding: 11px; }
  .btn-notification {
    padding: 8px 20px;
    font-size: 14px; }

button {
  cursor: pointer; }
  button:focus {
    outline: 0;
    opacity: 0.8; }

a {
  color: #110909;
  fill: #110909;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover, a:focus {
    opacity: 0.75; }

.link-invert {
  color: #fafafa;
  fill: #fafafa; }
  .link-invert:hover, .link-invert:focus {
    color: rgba(250, 250, 250, 0.8);
    fill: rgba(250, 250, 250, 0.8); }

.link-accent {
  color: #000000;
  fill: #000000; }
  .link-accent:hover, .link-accent:focus {
    color: rgba(0, 0, 0, 0.8);
    fill: rgba(0, 0, 0, 0.8); }

.chip {
  color: #110909;
  background: rgba(17, 9, 9, 0.2);
  border: 0; }
  .chip-remove-icon {
    fill: #110909; }

.modal {
  color: #110909;
  background-color: #fafafa; }

input,
textarea {
  font-family: "Open Sans", sans-serif; }

.form-control {
  display: block;
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  /* Hack to avoid autozoom on IOS */
  border: 0;
  border: 1px solid rgba(17, 9, 9, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #110909;
  background-color: #fafafa;
  border-radius: 0; }
  .form-control:focus {
    outline: 0; }
  .form-control-inline {
    display: inline; }
  .form-control-invert {
    background-color: rgba(250, 250, 250, 0.1);
    border: 0;
    color: #fafafa; }
  .form-control-quantity {
    height: 48px;
    padding-right: 30px;
    font-size: 20px; }

.form-control::-webkit-input-placeholder,
.head-light .form-control-invert::-webkit-input-placeholder {
  color: rgba(17, 9, 9, 0.15); }

.form-control:-moz-placeholder,
.head-light .form-control-invert:-moz-placeholder {
  color: rgba(17, 9, 9, 0.15); }

.form-control::-moz-placeholder,
.head-light .form-control-invert::-moz-placeholder {
  color: rgba(17, 9, 9, 0.15); }

.form-control:-ms-input-placeholder,
.head-light .form-control-invert:-ms-input-placeholder {
  color: rgba(17, 9, 9, 0.15); }

.form-control-invert::-webkit-input-placeholder {
  color: rgba(250, 250, 250, 0.5); }

.form-control-invert:-moz-placeholder {
  color: rgba(250, 250, 250, 0.5); }

.form-control-invert::-moz-placeholder {
  color: rgba(250, 250, 250, 0.5); }

.form-control-invert:-ms-input-placeholder {
  color: rgba(250, 250, 250, 0.5); }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.form-select {
  display: block;
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  /* Hack to avoid autozoom on IOS */
  border: 0;
  border: 1px solid rgba(17, 9, 9, 0.2);
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #110909;
  background-color: transparent; }
  .form-select-small {
    font-size: 12px; }

.radio-button-content {
  border: 2px solid rgba(17, 9, 9, 0.5); }

.radio-button input[type="radio"]:checked + .radio-button-content {
  outline: 3px solid #000000;
  outline-offset: -3px;
  box-shadow: inset 7px 0 1px #000000;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .radio-button input[type="radio"]:checked + .radio-button-content .unchecked {
    border: 2px solid #000000; }
  .radio-button input[type="radio"]:checked + .radio-button-content .shipping-price {
    color: #000000; }

.radio-button input[type="radio"]:checked .shipping-price {
  color: #000000; }

.radio-button input[type="radio"] + .radio-button-content .unchecked {
  border: 2px solid rgba(250, 250, 250, 0.5); }

.checkbox-container .checkbox {
  color: #110909; }
  .checkbox-container .checkbox-color {
    border: 1px solid rgba(17, 9, 9, 0.1); }
  .checkbox-container .checkbox-icon {
    background: #fafafa;
    border: 2px solid #110909; }
    .checkbox-container .checkbox-icon:after {
      border: solid #110909;
      border-width: 0 3px 3px 0; }
  .checkbox-container .checkbox:hover {
    color: rgba(17, 9, 9, 0.8); }

.category-controls {
  background: #fafafa; }

.cart-dark .radio-button-content {
  border: 2px solid rgba(250, 250, 250, 0.5); }

.cart-dark .form-select {
  color: #fafafa;
  fill: #fafafa;
  border: 1px solid #fafafa; }

.list-readonly .list-unstyled {
  padding: 20px;
  margin-bottom: 0; }

.list-item-box {
  background-color: rgba(17, 9, 9, 0.06); }
  .list-item-box.primary {
    border-bottom: 2px solid #000000; }
  .list-item-box.danger, .list-item-box.error {
    border-bottom: 2px solid #cc4845; }
  .list-item-box.disable {
    background-color: rgba(17, 9, 9, 0.15);
    border-bottom: 2px solid rgba(17, 9, 9, 0.5); }

.alert-danger, .alert-error {
  color: black;
  background-color: #fff6f6;
  border-bottom: 2px solid #cc4845; }

.alert-warning {
  color: black;
  background-color: #f9f5ee; }

.alert-info {
  color: #110909;
  background-color: #fafafa; }

.alert-success {
  color: black;
  background-color: #edf7ef; }

.alert-primary {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.1); }

.notification-primary {
  background-color: #f2f2f2;
  color: #110909;
  fill: #110909;
  border-right: 0;
  border-left: 0; }
  .notification-primary .notification-header {
    background-color: #ededed; }
  .notification-primary .notification-arrow-up:after {
    border-color: transparent transparent transparent #ededed; }
  .notification-primary .btn-primary svg {
    color: #fafafa;
    fill: #fafafa; }

.notification-secondary {
  padding: 8px 0;
  background: #f2f2f2;
  color: rgba(17, 9, 9, 0.8);
  border-bottom: 1px solid rgba(17, 9, 9, 0.1); }

.notification-arrow-up:after {
  position: absolute;
  top: -15px;
  right: 18px;
  display: block;
  width: 0;
  height: 0;
  border-width: 9px;
  border-style: solid;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: ''; }

.notification-danger {
  color: #cc4845;
  fill: #cc4845; }

.notification-fixed-bottom {
  border-top: 3px solid #000000; }

.banner-services {
  padding: 30px 20px;
  background: #110909;
  color: #fafafa; }
  .banner-services-link {
    color: #fafafa; }

.textbanner-background {
  background: #110909; }

.textbanner-text {
  background: rgba(17, 9, 9, 0.03);
  border-bottom: 3px solid #000000; }
  .textbanner-text.over-image-center {
    color: #fafafa; }

.textbanner-image-horizontal {
  background-color: rgba(17, 9, 9, 0.05); }

.table {
  background-color: #fafafa;
  color: #110909; }
  .table tbody tr:nth-child(odd) {
    background-color: rgba(17, 9, 9, 0.05); }
  .table th {
    padding: 8px;
    text-align: left; }

.tab-group {
  border-bottom: 1px solid rgba(17, 9, 9, 0.1); }
  .tab-group .tab-link {
    color: #110909; }
  .tab-group .tab.active .tab-link {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    color: #000000; }

.card {
  background-color: #fafafa;
  border: 1px solid rgba(17, 9, 9, 0.08); }
  .card-header {
    background-color: rgba(17, 9, 9, 0.1); }

.box, .list-readonly .list-unstyled {
  background-color: rgba(17, 9, 9, 0.03);
  border-bottom: 2px solid #000000; }

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(17, 9, 9, 0.1);
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .swiper-button-next:hover, .swiper-button-next:focus,
  .swiper-button-prev:hover,
  .swiper-button-prev:focus {
    background-color: rgba(17, 9, 9, 0.2); }

.swiper-dark {
  color: #110909; }

.swiper-light {
  color: #fafafa; }

.swiper-title {
  font-family: "Raleway", sans-serif; }

.shadow-none {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05), 0 0px 0px rgba(0, 0, 0, 0.05), 0 0px 0px rgba(0, 0, 0, 0.05), 0 0px 0px rgba(0, 0, 0, 0.05), 0 0px 0px rgba(0, 0, 0, 0.05); }

.shadow-shorter {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 8px rgba(0, 0, 0, 0.05), 0 8px 12px rgba(0, 0, 0, 0.05); }

.shadow-longer {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09); }

.shadow-soft {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07); }

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(17, 9, 9, 0.15); }

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(250, 250, 250, 0.9); }

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 250, 250, 0.7); }

/*============================================================================
  #Home Page
==============================================================================*/
.home-sidebar-categories {
  background: #000000;
  color: #fafafa; }
  .home-sidebar-categories-title {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2); }
  .home-sidebar-categories .nav-primary .nav-list-link {
    color: #fafafa;
    fill: #fafafa; }
  .home-sidebar-categories .nav-primary .nav-list .list-subitems {
    background-color: rgba(0, 0, 0, 0.05); }

.instafeed-info {
  color: #fafafa;
  fill: #fafafa;
  background: rgba(17, 9, 9, 0.6); }

.embed-responsive {
  background: #110909; }

/*============================================================================
  #Product grid
==============================================================================*/
.item-description {
  background: whitesmoke;
  border-bottom: 3px solid #000000; }
  .item-description-container {
    background: whitesmoke; }

.item-link {
  color: #110909; }

.item-installments {
  color: rgba(17, 9, 9, 0.5); }

.item-actions {
  border-top: 1px solid rgba(17, 9, 9, 0.05); }
  .item-actions-line {
    border-left: 1px solid rgba(17, 9, 9, 0.05); }

.item-colors-bullet {
  border: 1px solid rgba(17, 9, 9, 0.5); }
  .item-colors-bullet.selected {
    border: 2px solid #110909; }
  .item-colors-bullet-text {
    border: 0; }

.label {
  background: #110909;
  color: #fafafa; }
  .label.label-primary {
    background: #000000; }
  .label.label-accent {
    background: #000000; }

.filters-overlay {
  background-color: rgba(250, 250, 250, 0.85); }

/*============================================================================
  #Product detail
==============================================================================*/
.nube-slider-product {
  background: rgba(17, 9, 9, 0.04); }

.social-share .social-share-button {
  color: #110909; }

/*============================================================================
  #Cart
==============================================================================*/
.cart-item {
  border-bottom: 1px solid rgba(17, 9, 9, 0.2); }

.cart-light {
  background-color: #f2f2f2;
  color: #110909;
  fill: #110909; }
  .cart-light .btn-primary .svg-icon-secondary {
    color: #fafafa;
    fill: #fafafa; }
  .cart-light .cart-item {
    border-bottom: 1px solid rgba(17, 9, 9, 0.2); }
    .cart-light .cart-item-subtotal {
      color: #110909; }
  .cart-light .cart-panel-subtotal {
    border-bottom: 1px solid rgba(17, 9, 9, 0.2); }
  .cart-light .cart-panel-shipping-calculator {
    background-color: rgba(17, 9, 9, 0.03); }
    .cart-light .cart-panel-shipping-calculator input {
      color: #110909;
      background-color: #e1e1e1;
      border: 1px solid #d6d6d6; }
  .cart-light.cart-summary-detail .cart-item {
    border-bottom: 1px solid rgba(17, 9, 9, 0.2); }
    .cart-light.cart-summary-detail .cart-item-subtotal {
      color: #110909; }
  .cart-light.cart-summary-detail .cart-row {
    color: #110909; }
  .cart-light.cart-summary-detail .cart-summary-total {
    border-bottom: 1px solid rgba(17, 9, 9, 0.2); }

.cart-dark,
.cart-brand {
  background-color: #070404;
  color: #fafafa;
  fill: #fafafa; }
  .cart-dark .svg-icon-secondary,
  .cart-brand .svg-icon-secondary {
    color: rgba(250, 250, 250, 0.5);
    fill: rgba(250, 250, 250, 0.5); }
    .cart-dark .svg-icon-secondary:hover,
    .cart-brand .svg-icon-secondary:hover {
      color: rgba(250, 250, 250, 0.8);
      fill: rgba(250, 250, 250, 0.8); }
  .cart-dark .cart-item,
  .cart-brand .cart-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2); }
    .cart-dark .cart-item-name,
    .cart-brand .cart-item-name {
      color: #fafafa; }
      .cart-dark .cart-item-name a,
      .cart-brand .cart-item-name a {
        color: #fafafa; }
    .cart-dark .cart-item-subtotal,
    .cart-brand .cart-item-subtotal {
      color: #fafafa; }
    .cart-dark .cart-item-input,
    .cart-brand .cart-item-input {
      color: #fafafa;
      background-color: rgba(250, 250, 250, 0.05);
      border: rgba(250, 250, 250, 0.2); }
  .cart-dark .cart-panel-subtotal,
  .cart-brand .cart-panel-subtotal {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2); }
  .cart-dark .cart-panel-shipping-calculator,
  .cart-brand .cart-panel-shipping-calculator {
    background-color: rgba(250, 250, 250, 0.03); }
    .cart-dark .cart-panel-shipping-calculator input,
    .cart-brand .cart-panel-shipping-calculator input {
      color: #fafafa;
      background-color: #212121;
      border: 1px solid #3b3b3b; }
  .cart-dark.cart-summary-detail,
  .cart-brand.cart-summary-detail {
    background-color: #070404; }
    .cart-dark.cart-summary-detail .cart-item,
    .cart-brand.cart-summary-detail .cart-item {
      border-bottom: 1px solid rgba(250, 250, 250, 0.2); }
      .cart-dark.cart-summary-detail .cart-item-subtotal,
      .cart-brand.cart-summary-detail .cart-item-subtotal {
        color: #fafafa; }
    .cart-dark.cart-summary-detail .cart-row,
    .cart-brand.cart-summary-detail .cart-row {
      color: #fafafa; }
    .cart-dark.cart-summary-detail .cart-summary-total,
    .cart-brand.cart-summary-detail .cart-summary-total {
      border-bottom: 1px solid rgba(250, 250, 250, 0.2); }
  .cart-dark .modal,
  .cart-brand .modal {
    color: #110909;
    background-color: #fafafa; }
    .cart-dark .modal-cart-big,
    .cart-brand .modal-cart-big {
      color: #fafafa;
      background-color: #110909; }
      .cart-dark .modal-cart-big .modal-close,
      .cart-brand .modal-cart-big .modal-close {
        fill: #fafafa; }

/*============================================================================
  #Contact page
==============================================================================*/
.contact-link {
  color: #110909; }

/*============================================================================
  #Account page
==============================================================================*/
.order-item {
  padding: 15px 0;
  border-bottom: 1px solid rgba(17, 9, 9, 0.08); }
  .order-item:first-child {
    border-top: 1px solid rgba(17, 9, 9, 0.08); }

/*============================================================================
  #Header and nav
==============================================================================*/
.section-advertising {
  background-color: #000000;
  color: #110909; }

.head-light {
  background-color: #fafafa; }
  .head-light .cart-widget-amount,
  .head-light .svg-icon-secondary {
    color: #110909;
    fill: #110909; }
  .head-light .nav-desktop {
    background-color: #f2f2f2; }
    .head-light .nav-desktop .nav-list-link {
      border-bottom: 4px solid transparent; }
      .head-light .nav-desktop .nav-list-link:hover {
        border-bottom: 4px solid #000000; }
  .head-light .nav-desktop-list > .item-with-subitems.active > .nav-item-container > .nav-list-link {
    border-bottom: 4px solid #000000; }
  .head-light .nav-desktop-list .nav-desktop-list-arrow {
    color: #000000;
    fill: #000000;
    background-color: #f2f2f2; }
  .head-light .nav-primary .nav-list .nav-item {
    border-color: rgba(17, 9, 9, 0.1); }
  .head-light .nav-primary .nav-list .list-subitems {
    background-color: rgba(0, 0, 0, 0.05); }
  .head-light .nav-tabs-mobile {
    background: rgba(17, 9, 9, 0.1); }
    .head-light .nav-tabs-mobile-line {
      border-left: 1px solid rgba(17, 9, 9, 0.1);
      border-right: 1px solid rgba(17, 9, 9, 0.1); }
  .head-light .form-control-invert {
    background-color: rgba(17, 9, 9, 0.1);
    border: 0;
    color: #110909; }

.head-dark,
.head-brand {
  background-color: #110909;
  color: #fafafa; }
  .head-dark a,
  .head-dark .cart-widget-amount,
  .head-dark .svg-icon-secondary,
  .head-brand a,
  .head-brand .cart-widget-amount,
  .head-brand .svg-icon-secondary {
    color: #fafafa;
    fill: #fafafa; }
  .head-dark .btn-secondary,
  .head-brand .btn-secondary {
    color: #110909;
    fill: #110909;
    background: transparent; }
  .head-dark .nav-desktop,
  .head-brand .nav-desktop {
    background-color: #221212; }
    .head-dark .nav-desktop .nav-list-link,
    .head-brand .nav-desktop .nav-list-link {
      border-bottom: 4px solid transparent; }
      .head-dark .nav-desktop .nav-list-link:hover,
      .head-brand .nav-desktop .nav-list-link:hover {
        border-bottom: 4px solid #000000; }
  .head-dark .nav-desktop-list > .item-with-subitems.active > .nav-item-container > .nav-list-link,
  .head-brand .nav-desktop-list > .item-with-subitems.active > .nav-item-container > .nav-list-link {
    border-bottom: 4px solid #000000; }
  .head-dark .nav-desktop-list .nav-desktop-list-arrow,
  .head-brand .nav-desktop-list .nav-desktop-list-arrow {
    color: #fafafa;
    fill: #fafafa;
    background-color: #221212; }
  .head-dark .nav-primary .nav-list .nav-item,
  .head-brand .nav-primary .nav-list .nav-item {
    border-color: rgba(250, 250, 250, 0.1); }
  .head-dark .nav-primary .nav-list .list-subitems,
  .head-brand .nav-primary .nav-list .list-subitems {
    background-color: rgba(255, 255, 255, 0.05); }
  .head-dark .nav-tabs-mobile,
  .head-brand .nav-tabs-mobile {
    background: rgba(250, 250, 250, 0.06); }
    .head-dark .nav-tabs-mobile-line,
    .head-brand .nav-tabs-mobile-line {
      border-left: 1px solid #110909;
      border-right: 1px solid #110909; }

.head-brand {
  background-color: #000000; }
  .head-brand .nav-desktop {
    background-color: #0d0d0d; }
    .head-brand .nav-desktop .nav-list-link:hover {
      border-bottom: 4px solid #110909; }
    .head-brand .nav-desktop .nav-desktop-list-arrow {
      color: #fafafa;
      fill: #fafafa;
      background-color: #0d0d0d; }
  .head-brand .nav-primary .nav-list .list-subitems {
    background-color: rgba(255, 255, 255, 0.05); }
  .head-brand .nav-tabs-mobile-line {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000; }
  .head-brand .link-cart.active {
    color: #fafafa;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .head-brand .link-cart.active .cart-widget-amount,
    .head-brand .link-cart.active a {
      color: #fafafa; }
    .head-brand .link-cart.active svg {
      fill: #fafafa; }

.head-transparent {
  background-color: transparent; }

.head-dark .link-cart.active {
  color: #000000;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .head-dark .link-cart.active .cart-widget-amount,
  .head-dark .link-cart.active a {
    color: #000000; }
  .head-dark .link-cart.active svg {
    fill: #000000; }

.nav-desktop .desktop-dropdown .nav-list-link {
  border-bottom: none;
  color: #110909; }
  .nav-desktop .desktop-dropdown .nav-list-link:hover {
    border-bottom: none;
    opacity: 0.8; }

.desktop-list-subitems {
  background-color: #fafafa;
  color: #110909;
  fill: #110909; }
  .desktop-list-subitems .nav-item-desktop > .nav-list-link {
    color: #110909;
    fill: #110909; }

.nav-secondary {
  background-color: #000000; }
  .nav-secondary .nav-accounts-message {
    background-color: #221212; }

.search-suggest {
  background-color: #1b0e0e; }
  .search-suggest-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1); }

/*============================================================================
  #Footer
==============================================================================*/
footer {
  color: #fafafa;
  background: rgba(17, 9, 9, 0.8); }
  footer a,
  footer .contact-link {
    color: #fafafa;
    fill: #fafafa; }
    footer a:hover, footer a:active,
    footer .contact-link:hover,
    footer .contact-link:active {
      color: rgba(250, 250, 250, 0.8);
      fill: rgba(250, 250, 250, 0.8); }

.footer-legal {
  background: rgba(250, 250, 250, 0.1);
  color: rgba(250, 250, 250, 0.4); }
  .footer-legal a {
    color: rgba(250, 250, 250, 0.4); }
    .footer-legal a:hover {
      opacity: .8; }

.powered-by-logo svg {
  fill: rgba(250, 250, 250, 0.4); }

.newsletter-btn {
  color: #110909; }

@media (min-width: 768px) {
  .btn-medium {
    padding: 13px 15px; }
  .form-control,
  .form-select {
    font-size: 14px; }
  .form-control-quantity {
    font-size: 20px; } }
