/*============================================================================
style.css

    -This file contains all the theme non critical styles wich will be loaded asynchronously
    -Rest of styling can be found in:
      --static/css/style-colors.scss.tpl --> For color and font styles related to config/settings.txt
      --static/css/style-critical.tpl --> For critical CSS rendered inline before the rest of the site

==============================================================================*/
/*============================================================================
  Table of Contents

  #Components
    // Margin and Padding
    // Mixins
    // Animations
    // Chips
    // Forms
    // Icons
    // Alerts and Notifications
    // Modals
    // Tables
    // Tabs
    // Cards
  #Header and nav
    // Nav
    // Search
  #Footer
    // Nav
    // Newsletter
  #Home page
    // Instafeed
    // Banners
    // Empty screens placeholder
  #Product grid
    // Filters
    // Grid item
  #Product detail
    // Image
    // Form and info
  #Media queries
    // Min width 768px
      //// Components
      //// Footer
  #Critical path utilities

==============================================================================*/
/*============================================================================
  #Components
==============================================================================*/
.section-single-product,
.section-fb-comments,
.section-products-related, .section-slider-home,
.section-banners-home,
.section-home-module,
.section-featured-home {
  margin-bottom: 70px; }

.section-banners-promotional-home,
.section-welcome-home {
  margin-bottom: 20px; }

.transition-soft {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transition-long {
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.transition-opacity {
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.delay-100 {
  transition-delay: 100ms; }

.delay-200 {
  transition-delay: 200ms; }

.transition-up {
  position: relative;
  top: -8px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
  pointer-events: none; }
  .transition-up-active {
    top: 0;
    opacity: 1;
    z-index: 50;
    pointer-events: all; }

.btn-transition {
  position: relative;
  overflow: hidden; }
  .btn-transition-item {
    left: calc(50% - 56px); }
  .btn-transition .transition-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -70px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: not-allowed;
    pointer-events: none; }
    .btn-transition .transition-container.active {
      top: 50%;
      margin-top: -9px; }
      .btn-transition .transition-container.active.small {
        margin-top: -5px; }
      .btn-transition .transition-container.active.smallest {
        margin-top: -6px; }

.form-group {
  margin-bottom: 20px; }
  .form-group .form-label {
    float: left;
    width: 100%;
    margin-bottom: 10px; }
  .form-group .alert {
    margin: 10px 0 0 0; }

.radio-button {
  width: 100%;
  float: left;
  clear: both;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .radio-button.disabled {
    opacity: 0.6;
    cursor: not-allowed; }
    .radio-button.disabled input[type="radio"] {
      cursor: not-allowed; }
  .radio-button-content {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 15px 12px;
    box-sizing: border-box; }
  .radio-button-icons-container {
    position: absolute;
    top: 15px;
    left: 15px; }
  .radio-button-icons {
    position: relative;
    float: left; }
  .radio-button-icon {
    width: 20px;
    height: 20px; }
  .radio-button input[type="radio"] {
    display: none; }
    .radio-button input[type="radio"] + .radio-button-content .unchecked {
      float: left; }
    .radio-button input[type="radio"] + .radio-button-content .checked {
      position: absolute;
      top: 2px;
      left: 3px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .radio-button input[type="radio"]:checked + .radio-button-content .checked {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8); }
  .radio-button-label {
    width: 100%;
    float: left;
    margin-top: 2px;
    padding-left: 38px; }

.radio-button-item:last-of-type .radio-button-content {
  margin-bottom: 0; }

.shipping-extra-options .radio-button-item:first-child .radio-button-content {
  margin-top: 10px; }

.list-readonly .list-item {
  float: left;
  width: 100%;
  margin-bottom: 40px; }
  .list-readonly .list-item:only-child, .list-readonly .list-item:last-of-type {
    margin-bottom: 0; }
  .list-readonly .list-item .radio-button-icons {
    display: none; }
  .list-readonly .list-item .radio-button {
    cursor: default; }
  .list-readonly .list-item .radio-button-content {
    margin: 0 !important;
    padding: 0;
    border: 0; }

.list-readonly .radio-button,
.list-readonly .shipping-extra-options .radio-button-item:first-child .radio-button {
  margin: 0; }

.list-readonly .radio-button-label {
  padding-left: 0; }

.list-readonly .shipping-extra-options .list-item:first-child {
  margin-top: 40px; }

.checkbox-container .checkbox {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .checkbox-container .checkbox-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 2px 5px;
    vertical-align: middle;
    border-radius: 100%; }
  .checkbox-container .checkbox input {
    display: none; }
    .checkbox-container .checkbox input:checked ~ .checkbox-icon:after {
      display: block; }
  .checkbox-container .checkbox-icon {
    position: absolute;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px; }
    .checkbox-container .checkbox-icon:after {
      position: absolute;
      top: 1px;
      left: 5px;
      display: none;
      width: 7px;
      height: 12px;
      content: '';
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.form-select {
  display: block;
  width: 100%; }
  .form-select:focus {
    outline: 0; }
  .form-select::-ms-expand {
    display: none; }

input[disabled], input[disabled]:hover, input[readonly], input[readonly]:hover,
select[disabled],
select[disabled]:hover,
select[readonly],
select[readonly]:hover,
textarea[disabled],
textarea[disabled]:hover,
textarea[readonly],
textarea[readonly]:hover {
  background-color: #DDD;
  border-color: #DDD;
  cursor: not-allowed; }

.alert {
  clear: both;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center; }

.notification-hidden {
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  pointer-events: none; }

.notification-visible {
  transition: all 0.1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  opacity: 1;
  -webkit-transform: translate(0, -30px);
  -ms-transform: translate(0, -30px);
  -moz-transform: translate(0, -30px);
  -o-transform: translate(0, -30px);
  transform: translate(0, -30px); }

.notification-arrow-up {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.notification-floating {
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.notification-header {
  width: calc(100% + 20px);
  height: 38px;
  margin: -10px 0 12px -10px;
  padding: 10px 5px 0px 10px; }

.notification-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  width: 24px;
  cursor: pointer; }

.notification-arrow-up {
  position: absolute;
  top: -2px;
  right: 10%;
  width: 0;
  height: 0;
  pointer-events: none; }

.chip {
  position: relative;
  margin: 0 8px 10px 0;
  padding: 10px 28px 10px 10px;
  line-height: 18px; }
  .chip:hover {
    opacity: 0.8; }
  .chip:focus {
    outline: 0; }
  .chip-remove-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 10px; }

.modal {
  position: fixed;
  top: 0;
  display: block;
  width: 80%;
  height: 100%;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 20000; }
  .modal-header {
    width: calc(100% + 20px);
    margin: -10px 0 10px -10px;
    padding: 10px 15px;
    font-size: 20px; }
  .modal-footer {
    padding: 10px 0;
    clear: both; }
  .modal-with-fixed-footer {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .modal-with-fixed-footer .modal-scrollable-area {
      height: 100%;
      overflow: auto; }
  .modal-full {
    width: 100%; }
  .modal-docked-md {
    width: 100%; }
  .modal-docked-small {
    width: 80%; }
  .modal-top {
    top: -100%;
    left: 0; }
  .modal-bottom {
    top: 100%;
    left: 0; }
  .modal-left {
    left: -100%; }
  .modal-right {
    right: -100%; }
  .modal-centered {
    height: 100%;
    width: 100%; }
    .modal-centered-small {
      width: 80%;
      height: auto;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .modal-centered-small .modal-body {
        min-height: 150px;
        max-height: 400px;
        overflow: auto; }
  .modal-top.modal-show, .modal-bottom.modal-show {
    top: 0; }
    .modal-top.modal-show.modal-centered-small, .modal-bottom.modal-show.modal-centered-small {
      top: 50%; }
  .modal-left.modal-show {
    left: 0; }
  .modal-right.modal-show {
    right: 0; }
  .modal-close {
    display: inline-block;
    padding: 1px 5px 5px 0;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer; }
  .modal .tab-group {
    margin: 0 -10px 20px -10px; }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000060;
  z-index: 10000;
  cursor: pointer; }
  .modal-overlay.modal-zindex-top {
    z-index: 20000; }

.fancybox-slide--html .fancybox-content {
  width: 100%;
  height: calc(100% - 70px);
  padding: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  background: transparent; }

.fancybox-slide--html .fancybox-close-small {
  color: #ccc !important; }

.fancybox-toolbar {
  opacity: 1 !important;
  visibility: visible !important; }
  .fancybox-toolbar .fancybox-button {
    display: none !important; }
    .fancybox-toolbar .fancybox-button.fancybox-button--close {
      display: block !important; }

.fancybox-close-small {
  display: none !important; }

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  .table thead th {
    padding: 8px; }
    .table thead th:first-of-type {
      padding-left: 0; }
  .table td {
    padding: 8px;
    text-align: left; }

.tab-group {
  width: 100vw;
  padding: 0;
  overflow-x: scroll;
  white-space: nowrap; }
  .tab-group .tab {
    display: inline-flex;
    float: none; }
    .tab-group .tab-link {
      float: left;
      padding: 10px;
      text-align: center; }

.tab-panel:not(.active) {
  display: none; }

.tab-panel.active {
  display: block; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box; }

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px; }

.card-header {
  padding: 15px;
  margin-bottom: 0; }

.card-footer {
  padding: 15px; }

/*============================================================================
  #Header and nav
==============================================================================*/
.modal-nav-hamburger {
  padding: 0; }
  .modal-nav-hamburger .modal-header {
    float: right;
    width: auto;
    margin: 0;
    text-align: right; }
    .modal-nav-hamburger .modal-header .modal-close {
      margin: 0;
      padding: 0 5px; }

.nav-account {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-account .nav-account-item {
    display: inline-block;
    margin: 14px 18px;
    font-size: 11px;
    text-transform: uppercase; }
  .nav-account .nav-accounts-message {
    padding: 15px 18px;
    font-size: 13px;
    font-weight: 600; }

.hamburger-panel {
  box-shadow: none; }
  .hamburger-panel .btn-hamburger-close {
    right: 15px;
    top: 6px;
    font-size: 18px; }
  .hamburger-panel .list-items {
    padding: 45px 0 10px; }
    .hamburger-panel .list-items .hamburger-panel-link {
      display: block;
      padding: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      border-bottom: 0; }
    .hamburger-panel .list-items .list-subitems {
      padding: 0; }
  .hamburger-panel .hamburger-panel-arrow {
    font-size: 12px; }
    .hamburger-panel .hamburger-panel-arrow.selected {
      transform: rotate(90deg); }
  .hamburger-panel .hamburger-panel-first-row {
    background: none; }
    .hamburger-panel .hamburger-panel-first-row .mobile-accounts {
      padding: 0 12px; }
      .hamburger-panel .hamburger-panel-first-row .mobile-accounts .mobile-accounts-item {
        width: auto;
        display: inline-block; }
        .hamburger-panel .hamburger-panel-first-row .mobile-accounts .mobile-accounts-item .mobile-accounts-link {
          padding: 10px 5px;
          font-size: 12px;
          opacity: 0.6; }
        .hamburger-panel .hamburger-panel-first-row .mobile-accounts .mobile-accounts-item:first-child a:after {
          position: relative;
          right: -7px;
          content: "|"; }
  .hamburger-panel-arrow {
    top: 15px;
    right: 10px;
    margin-top: -10px; }
    .hamburger-panel-arrow.selected svg {
      transform-origin: center;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.desktop-list-subitems {
  padding: 22px 20px 15px 20px;
  text-align: left;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  column-count: 5;
  column-gap: 20px; }
  .desktop-list-subitems .nav-item {
    display: block;
    margin: 0;
    padding: 4px 0;
    -webkit-column-break-inside: avoid;
    break-inside: avoid; }
    .desktop-list-subitems .nav-item .nav-list-link {
      font-weight: 700;
      line-height: 16px; }
    .desktop-list-subitems .nav-item .list-subitems {
      padding: 0;
      margin: 0 0 35px 0; }
      .desktop-list-subitems .nav-item .list-subitems .nav-item .nav-list-link {
        font-weight: 400; }
      .desktop-list-subitems .nav-item .list-subitems .nav-item .list-subitems {
        margin: 0 0 0 8px; }
        .desktop-list-subitems .nav-item .list-subitems .nav-item .list-subitems .nav-list-link {
          padding: 0px 0 0 10px;
          border-left-width: 1px;
          border-left-style: solid;
          line-height: 15px;
          font-size: 12px; }
  .desktop-list-subitems .nav-list-link {
    display: block;
    margin-bottom: 10px;
    line-height: 20px; }

.nav-desktop-list-arrow {
  position: absolute;
  height: 48px;
  width: 30px;
  text-align: center;
  line-height: 46px;
  font-size: 10px;
  cursor: pointer;
  z-index: 999999; }
  .nav-desktop-list-arrow-left {
    left: 0; }
  .nav-desktop-list-arrow-right {
    right: 0; }
  .nav-desktop-list-arrow.disable {
    opacity: 0.2;
    cursor: initial; }

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000047;
  z-index: 99; }

.cart-summary-detail {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 999999;
  width: 33vw;
  padding: 25px;
  overflow: auto; }
  .cart-summary-detail .cart-item {
    margin: 0 0 15px 0;
    padding-bottom: 10px; }
    .cart-summary-detail .cart-item-detail {
      display: block; }
    .cart-summary-detail .cart-item-image {
      padding: 0; }
    .cart-summary-detail .cart-item-quantity {
      display: none; }
    .cart-summary-detail .cart-item-name {
      width: 100%;
      padding-left: 15px;
      padding-top: 15px;
      font-size: 15px;
      font-weight: 700;
      text-align: left; }
    .cart-summary-detail .cart-item-subtotal {
      width: 100%;
      padding-left: 15px;
      padding-top: 10px;
      font-size: 13px;
      font-weight: 300;
      text-align: left;
      float: left; }
    .cart-summary-detail .cart-item-delete {
      display: block;
      padding-top: 15px; }

.search-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.search-suggest {
  position: absolute;
  z-index: 99999;
  width: 100%;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: hidden; }
  .search-suggest-list {
    margin: 0 0 10px 0;
    padding: 12px 12px 6px 12px; }
  .search-suggest-item {
    padding: 10px 15px;
    list-style: none; }
  .search-suggest-text, .search-suggest-name {
    margin-bottom: 5px;
    line-height: 18px; }
  .search-suggest-icon {
    margin: 0 10px; }

/*============================================================================
  #Footer
==============================================================================*/
footer {
  margin-top: 50px;
  padding-top: 70px; }

.footer-legal {
  margin-top: 60px;
  padding: 40px 0; }

.footer-menu {
  list-style: none; }
  .footer-menu-item {
    display: block;
    margin-bottom: 20px; }
  .footer-menu-link {
    display: block; }

.newsletter form {
  position: relative; }

.footer-payments-shipping-logos img {
  max-height: 20px;
  margin: 2px; }

.powered-by-text {
  display: inline-block; }

.powered-by-logo {
  display: inline-block;
  width: 160px; }

.footer-logo img {
  max-height: 50px;
  margin: 2px; }

/*============================================================================
  #Home Page
==============================================================================*/
.instafeed-link {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-top: 100%;
  overflow: hidden; }
  .instafeed-link .instafeed-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    .instafeed-link .instafeed-info .instafeed-info-item {
      display: inline-block;
      margin-top: 45%; }
  .instafeed-link:hover .instafeed-img, .instafeed-link:focus .instafeed-img {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03); }
  .instafeed-link:hover .instafeed-info, .instafeed-link:focus .instafeed-info {
    opacity: 1; }

.instafeed-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.textbanner .textbanner-image.overlay {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.textbanner:hover .textbanner-image.overlay, .textbanner:focus .textbanner-image.overlay {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03); }

.placeholder-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%; }

.placeholder-info {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px 25px;
  text-align: center;
  line-height: 18px;
  transform: translate(-50%, -50%);
  box-sizing: border-box; }
  .placeholder-info .placeholder-description {
    margin: 20px 0; }
  .placeholder-info .placeholder-button {
    padding: 8px 15px; }

/*============================================================================
  #Product Grid
==============================================================================*/
.filters-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  width: 100%;
  height: 100%; }
  .filters-overlay .filters-updating-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .filters-overlay .filters-updating-message * {
      font-size: 24px;
      font-weight: normal; }

.item-buy-close {
  height: 18px;
  width: 18px;
  top: 24px;
  right: 24px;
  text-align: center;
  opacity: 0; }

.item-buy-variants {
  overflow: hidden;
  opacity: 0; }

.item-buy-cta {
  opacity: 0; }

.active-element {
  animation-delay: 2s;
  opacity: 1; }

/*============================================================================
  #Product detail
==============================================================================*/
body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease,visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  transition: opacity .25s ease 0s,visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0; }

.fancybox-slide--image:before {
  display: none; }

.fancybox-slide--html {
  padding: 6px; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable=true] {
  cursor: text; }

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

.fancybox-button div {
  height: 100%; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:nth-child(1), .fancybox-button--pause svg:nth-child(1), .fancybox-button--play svg:nth-child(2) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  transition-timing-function: linear;
  z-index: 99998; }

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px; }

.fancybox-navigation .fancybox-button div {
  padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0; }

.fancybox-caption {
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px;
  right: 0;
  text-align: center;
  z-index: 99996; }

.fancybox-caption:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAQAAADKSeXYAAAAYklEQVQoz42RwQ3AMAgDjfcfup8WoRykfBAK5mQHKSz5rbXJPis1hjiV3CIqgG0hLZPkVkA4p4x5oR1bVeDrdCLrW2Q0D5bcwY3TGMHbdw3mPRuOtaspYP1w//G1OIcW148H0DMCqI/3mMMAAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -44px;
  z-index: -1; }

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
  animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-1turn);
  transform: rotate(-1turn); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0); }

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1); }

@media (max-height: 576px) {
  .fancybox-caption {
    padding: 12px; }
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }
  .fancybox-slide--image {
    padding: 6px 0; }
  .fancybox-close-small {
    right: -6px; }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; } }

.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus:before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1; }

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }

.user-content img {
  max-width: 100%;
  height: auto !important; }

.social-share-button {
  display: inline-block;
  padding: 8px;
  opacity: 0.5; }
  .social-share-button:hover, .social-share-button:focus {
    opacity: 1; }

@media (min-width: 768px) {
  .modal-centered {
    height: 80%;
    width: 80%;
    left: 10%;
    margin: 5% auto; }
    .modal-centered-md {
      left: 50%;
      height: auto;
      margin: 30px 0 30px -250px;
      padding: 30px; }
    .modal-centered-small {
      left: 50%;
      width: 30%;
      height: auto;
      max-height: 80%;
      margin: 0; }
  .modal-docked-big {
    width: 850px; }
  .modal-docked-md {
    width: 500px; }
  .modal-docked-small {
    width: 350px; }
  .modal-cart-big {
    width: 75vw;
    padding: 30px 250px;
    text-align: center; }
    .modal-cart-big.modal-right {
      right: -75vw; }
      .modal-cart-big.modal-right.modal-show {
        right: 0; }
    .modal-cart-big .modal-header {
      margin: -10px 0 10px -10px;
      padding: 40px 10px;
      font-size: 20px;
      text-align: left; }
  .modal-active {
    right: 75vw;
    overflow: hidden; }
  .fancybox-slide--html .fancybox-content {
    width: 85%;
    height: auto;
    padding: 44px; }
  .notification-arrow-up {
    right: calc(32% / 2);
    margin-right: -30px; }
  .tab-group {
    width: calc(100% + 20px);
    overflow-x: auto;
    white-space: normal; }
    .tab-group .tab {
      float: left; } }

.visible-when-content-ready {
  visibility: visible !important; }

.display-when-content-ready {
  display: block !important; }
